.car-component {
    background: $dark-grey;
    color: $grey;
    border: 2px solid $background-light;

    input {
        background: transparent;
        color: inherit;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: $grey;
        }
    }

    .title {
        font-size: 1.1rem;
        display: block;
        color: $white;
        padding: 0.5em;
        margin: 0;

        // Up/Down buttons
        .fa {
            display: inline-block;
            line-height: 1.2em;
            width: 1.2em;
            color: $grey;
            background: transparent;

            &[data-disabled^="true"] {
                opacity: 0.2;
            }

            &:hover {
                color: $white;
                cursor: pointer;
            }
        }
    }

    .class {
        color: $white;
        margin-bottom: 0.3em;
        &.common {
            background-image: linear-gradient(to right, $light-blue, $blue);
        }
        &.rare {
            background-image: linear-gradient(to right, $light-orange, $orange);
        }
        &.epic {
            background-image: linear-gradient(to right, $light-pink, $pink);
        }
    }

    button {
        margin: 1em 0;
        display: block;
        width: 100%;
        background: $grey;
        border-color: $grey;
        color: $black;
        font-weight: 600;
    }

    .display-table {
        width: 100%;
        display: table;
    }

    .current-level-points {
        display: table-row;

        .current-level, .current-points {
            display: table-cell;
            background-color: $grey;
            color: $black;
            text-align: center;
        }

        .current-level {
            width: 2em;
            border-right: 4px solid $dark-grey;
        }

        .current-points {
            text-align: right;
        }

        input.requiredPoints {
            width: 60px;
            display: inline-block;
            text-align: right;
            border: 0 none;
        }
    }

    // Active/Currently Assigned to Car
    &[data-active^="1"] {
        color: $white;
    }

    // Can Upgrade/Purchase overrides
    [data-can-purchase^="true"] {
        .current-level, .current-points {
            background: $bright-green;
            color: $black;
        }

        .purchase {
            button {
                background-color: $bright-green;
                border-color: $bright-green;
            }
        }
    }

    // Car Component Level
    table {
        width: 100%;
        color: $grey;
    }
    tr {
        border-bottom: 2px solid $black;
    }
    th {
        font-weight: 500;
    }

    .car-component-level button {
        opacity: 0.5;
    }

    .car-component-level[data-can-purchase^="true"] button {
        opacity: 1;
    }

    .indicator {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        width: 1.5rem;
        line-height: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: $black;
    }

    .upgrade-indicator {
        @extend .indicator;
        background: $bright-green;
        left: 0;
    }

    .current-indicator {
        @extend .indicator;
        right: 0;
        background: white;
        color: $dark-grey;
        font-size: 1rem;
        font-weight: normal;
    }

    // Stat Compare Row
    .stat-row {
        padding: 0.5em;

        .name {
            display: inline-block;
            width: 56%;
        }
        .stat {
            display: inline-block;
            width: 20%;
            text-align: right;
            color: $white;
        }
        .diff {
            display: inline-block;
            width: 20%;
            text-align: right;
        }

        // Compare Column
        .diff[data-positive^="true"] {
            font-weight: bold;
            color: $bright-green;
        }
        .diff[data-negative^="true"] {
            font-weight: bold;
            color: red;
        }

        .progress {
            height: 3px;
            border-radius: 3px;
            background-color: $black;
            & > * {
                height: 3px;
                width: 100%;
            }
            .main {
                height: 3px;
                background-color: $black;
                border: 0 none;
                border-radius: 0;
                box-shadow: none;
                height: 3px;
                .insideLabel {
                    display: none;
                }
            }
        }
    }
}
