$font-family-sans-serif: Cairo, arial, sans-serif;

$white: #e1e4ea;
//$grey: #6a6e73;
$darkish-grey: #55595c;
$grey: #9a9696;
$light-grey: #b8b8b8;
$dark-grey: #27212b;
$bright-green: #05f9b4;

$background-light: #cbd2de;
$color-highlight: $bright-green;

$body-bg: $background-light;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1390px
) !default;
